# Ignore the CMake build folder
build/
bin/
obj/

# Ignore VS Code internal junk, but KEEP the config files
.vscode/ipch/
.vscode/browse.vc.db
.vscode/extension.log

# Ignore compiled executables and DLLs
*.exe
*.dll

# Ignore database files
*.db-journal
*.db-wal
*.db-shm

# Ignore ImGui window layout saving
imgui.ini

# Ignore assets
.png
.wav
.jpg
.mp3